/* ficture */
@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
/* endficture */

/* bola */
.bola__pulsante {
  margin-top: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #8b80f9;
  animation: pulsante 1.5s infinite;
  margin-bottom: 50px;
}

@keyframes pulsante {
  0% {
      box-shadow: #8b80f9 0 0 0 0;
  }

  100% {
      box-shadow: #8b80f900 0 0 0 16px;
  }
}
/* endbola */

/* time */
:root {
  --cor-background: #212123;
  --cor-reflexo: rgba(255, 255, 255, 0.4);
  --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217), rgb(255, 45, 83);
  /* ficture */
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
  /* endficture */
}

* {
  font-family: "Verdana", sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--cor-background);
}

.conteudo {
  background: linear-gradient(to right, var(--cores-dancantes));
  width: 550px;
  height: 130px;
  border-radius: 10px;
  position: relative;
  z-index: 999;
  animation: coresDancantes 3s linear infinite;
  margin-bottom: 70px;
}

@keyframes coresDancantes {
  100% {
    filter: hue-rotate(360deg);
  }
}

.conteudo .relogio,
.conteudo span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteudo .relogio {
  z-index: 1;
  background-color: var(--cor-background);
  width: 530px;
  height: 110px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-reflect: below 50px
    linear-gradient(transparent, var(--cor-reflexo));
  padding: 10px;
}

.conteudo .relogio h4 {
  background: linear-gradient(to right, var(--cores-dancantes));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.conteudo span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 10px;
}

.conteudo span:nth-child(1) {
  filter: blur(6px);
}

.conteudo span:nth-child(2) {
  filter: blur(22px);
}
/* endtime */



/* ================================ */
body,
html {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: arial;
    color: white;
    /* text-transform: uppercase; */
    text-align: center;
    background-color: rgb(232, 227, 224);
}

h1
{
    margin-top: 100px;
    font-size: xx-large;
    color: black;
}

a
{
    text-decoration: none;
    font-style: italic;
    font-size: small;
}

.desc
{
    display: flex;
    justify-content: center;
}

.desc p
{
    color: black;
    /* font-size: small; */
}

.container {
    /* max-width: 75%; */
    margin: 50px auto;
    /* border: 5px solid #333; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container div
{
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: 30px 30px;
    border-radius: 8px;
}

.container i,iframe
{
    border-radius: 8px;
}

.container .item1
{
    background-color: blueviolet;
}

.container .item2
{
    background-color: rgb(45, 96, 68);
}

.container .item3
{
    background-color: rgb(232, 227, 224);
}

.container .item4
{
    background-color: rgb(233, 238, 224);
}

.container .item5
{
    background-color: rgb(226, 43, 189);
}

.container .item6
{
    background-color: rgb(88, 30, 79);
}
